
<div class="row-fluid post-full">
  <div class="span12">
    <div class="content">
      {{ content }}
    </div>

    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; 上一篇</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; 上一篇</a></li>
      {% endif %}

      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">下一篇 &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>下一篇 &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
      {% include comments.md %}
  </div>
</div>
